html {
  scroll-padding-top: 200px;
}

.card-body {
  overflow-x: auto;
}

.chart-container {
  width: 100%;
  height: 400px;
  min-width: 100%;
  position: relative;
  overflow: hidden;
}

.chart {
  height: 100%;
  min-width: 600px;
  width: 100%;
}

@media (max-width: 768px) {
  .chart-container {
    min-height: 350px;
    height: 350px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .chart {
    min-width: 800px;
  }
  
  #chart-1, #chart-2, #chart-3, #chart-4 {
    min-width: 800px;
  }
}

@media (min-width: 992px) {
  .chart {
    min-width: 700px;
  }
}